@page
@model HakimLivs.Pages.Orders.CreateModel
@{
    ViewData["Title"] = "Checka ut";
}

<script>
    window.onload=function() {updateCartIconFromDB(@Model.CartCount)}
</script>

@if (Model.Products.Count() > 0)
{
    <h1>Skapa order</h1>

    <div class="row">

        <form method="post">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-2" scope="col" style="text-align: center;">Bild</th>
                        <th class="col-auto" scope="col">Produkt</th>
                        <th class="col-1" scope="col" style="text-align: center;">Antal</th>
                        <th class="col-1" scope="col" style="text-align: center;">Pris</th>
                        <th class="col-1" scope="col" style="text-align: center;">Totalt</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td style="text-align: center;">
                                <img src="@product.Image"
                             class="card-img-top align-self-center p-3"
                             style="height: 8rem; width: auto; object-fit: contain;"
                             alt="@product.Name">
                            </td>

                            <td>
                                <a asp-page="../Products/Details" asp-route-id="@product.ID">@product.Name</a>
                            </td>
                            <td style="text-align: center;">
                                <button class="btn btn-primary btn-sm" asp-page-handler="UpdateAmount" asp-route-id="@product.ID" asp-route-operation="subtract"><strong>-</strong></button> 
                                <strong>@Model.ProductsCount[product.ID]</strong>
                                <button class="btn btn-primary btn-sm" asp-page-handler="UpdateAmount" asp-route-id="@product.ID"><strong>+</strong></button>
                            </td>
                            @if (product.DiscountPrice == null)
                            {
                                <td style="text-align: right;">
                                    @Utils.DisplayPrice(product.Price)
                                </td>
                                <td style="text-align: right;">
                                    @Utils.DisplayPrice((product.Price * @Model.ProductsCount[product.ID]))
                                </td>

                            }
                            else
                            {
                                <td style="text-align: right;">
                                    @Utils.DisplayPrice(product.DiscountPrice)
                                </td>
                                <td style="text-align: right;">
                                    @Utils.DisplayPrice((product.DiscountPrice * @Model.ProductsCount[product.ID]))
                                </td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot class="border-bottom-0">
                    <tr>
                        <td colspan="4" style="text-align: right; border: none;">
                            <b>Totalpris:</b>
                        </td>
                        <td style="text-align: right;">
                            @Utils.DisplayPrice(@Model.TotalPrice)
                        </td>
                    </tr>
                </tfoot>
            </table>
            <hr />
            
            <div class="form-group">
                <label asp-for="@Model.Order.PaymentMethod">Betalningsmetod</label>
                <select asp-for="@Model.Order.PaymentMethod" asp-items="Html.GetEnumSelectList<Models.PaymentMethod>()"></select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="@Model.Order.DeliveryMethod">Leveransmetod</label>
                <select asp-for="@Model.Order.DeliveryMethod" asp-items="Html.GetEnumSelectList<Models.DeliveryMethod>()"></select>
            </div>
            
            <hr />

            <div class="form-group mt-2 mb-2">
                <input type="submit" value="Skapa order" class="btn btn-primary" />
            </div>
        </form>
        <form method="post" asp-page-handler="Empty">
            <div class="form-group mt-2 mb-2">
                <input type="submit" value="Töm varukorg" class="btn btn-primary" onclick="return confirm('Töm varukorg, är du säker?')" />
            </div>
        </form>
    </div>

}
else
{
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <script>localStorage.clear()</script>
        <h3>@Model.Message</h3>
        <br />
    }
    else
    {
        <h3>
            <script>localStorage.clear()</script>
            Varukorgen är tom!
        </h3>
    }
}
<div>
    <a asp-page="../Index">Tillbaka till startsidan</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}