@page
@model HakimLivs.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Är du säker att du vill ta bort denna produkt?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DiscountPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.DiscountPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ComparisonPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ComparisonPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Origin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitValue)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="../Index">Tillbaka till startsidan</a>
    </form>
</div>
