@page
@model HakimLivs.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Detaljer";
}


<div class="row">
    <div class="col">        
        <img src="@Model.Product.Image" class="card-img-top" style="height: 100%; width: 100%; object-fit: contain;" alt="@Model.Product.Name">                   
    </div>
    <div class="col p-3">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">@Model.Product.Name</h1>
                <h2 class="card-subtitle fs-4 d-inline">@Model.Product.Brand</h2>
                <span class="fs-5"> | @Utils.DisplayUnitvalue(Model.Product.UnitValue) @Model.Product.UnitType</span>
                <p class="card-text pt-3">@Utils.DecodeHTML(Model.Product.Description)</p>
                
                @if(@Model.Product.DiscountPrice == null || @Model.Product.DiscountPrice == 0){
                    <span class="fw-bold text-danger row justify-content-center pb-3" style="font-size: 5rem;">@Html.DisplayFor(m => Utils.DisplayPrice(Model.Product.Price))</span>
                }
                else
                {
                    <p class="fw-bold text-danger text-center" style="font-size: 5rem;">@Utils.DisplayPrice(@Model.Product.DiscountPrice)</p>
                }
                <form method="post">
                @if (Model.AppUser != null)
                {
                    <button type="submit"
                    onclick="addProductToLocalStorage(@Model.Product.ID)"
                    asp-route-id="@Model.Product.ID"
                    class="btn btn-primary btn-block"
                    style="width:100%;">
                        Köp
                    </button>
                }                         
                </form>
                <hr />
                    <ul style="list-style: none">
                        <li>
                            <b>Ordinarie pris:</b> @Utils.DisplayPrice(@Model.Product.Price) (-@Utils.GetProductDiscountPercentage(@Model.Product)%)
                        </li>
                        <li>
                            <b>Jämförpris:</b> @Utils.DisplayPrice(Model.Product.ComparisonPrice)/@Model.Product.UnitType
                        </li>
                        <li>
                            <b>Bäst före:</b> @Model.Product.ExpirationDate?.ToString("yyyy-MM-dd")
                        </li>
                        <li>
                            <b>Antal kvar:</b> @Model.Product.Stock
                        </li>
                    </ul>
                <hr />
            </div>
        </div>
    </div>
    </div>

<hr />