@page
@model IndexModel
@{
    ViewData["Title"] = "Hakim Livs!";
}

<div class="row row-cols-auto row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    @foreach (var product in Model.Products)
    {
        <div class="col p-3">
            <div class="card h-100 text-center">
                <img src="@product.Image" class="card-img-top" style="object-fit: cover; height: 200px;" alt="@product.Name">
                <div class="card-body">
                    @if(product.DiscountPrice == null){
                        <h5 class="card-title">@product.Price kr</h5>
                    }
                    else
                    {
                        <h5 class="card-title">@product.DiscountPrice kr</h5>
                    }                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@product.Name</li>
                        <li class="list-group-item">@product.Brand</li>
                        <li class="list-group-item">@($"{product.UnitValue}{product.UnitType}")</li>
                        @if(product.DiscountPrice != null)
                        {
                           <li class="list-group-item">@Model.GetProductDiscountPercentage(product)%</li>
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-block" style="width:100%;">Köp</button>
                </div>
            </div>
        </div>
    }
</div>

